    html {
        font-size: 62.5%;
    }

    body {
        font-family: helvetica, Arial, sans-serif;
        font-size: $s-size;
        background-color: $dark-blue;
    }

    button {
        cursor: pointer;
    }

    button:disabled {
        cursor: default;
    }